<div class='alluser'>

    <% @users.each do |user| %>
      <ul>

      	<li><%= link_to user.name, user %></li>
      
      	<% if @current_user.try(:id) == user.id %>
      	<li>
      		<%= link_to 'Edit', edit_user_path(user) %>
      	</li>
				<% end %>
      	
      	<% if @current_user.try(:id) == user.id %>
      	<li>
      	<%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      	</li>
      <% end %>
      </ul>
		<%end%>
</div>
