<div class="user-profile-background">
      <div class="small-12 columns">
            <h3 class="tweets-title">Who to follow</h3>
            <div class="tweets-listed">
                  <div class="row">
                        <% @users.each do |user| %>
                              <div class="small-12 medium-6 large-4 columns user-panel">
                                    <% if user.avatar != "" %>
                                          <%= image_tag user.avatar %>
                                    <% else  %>
                                          <img src="http://silvervelvetsky.files.wordpress.com/2012/01/936full-jane-birkin1.jpg" />
                                    <% end %>
                                          <%= link_to user.name, user %>
                              </div>
                        <% end %>
                  </div>
            </div>
      </div>
</div>

