<div class="user-profile-background"></div>



<div class="small-9 columns">
      <h3>THIS IS USERS INDEX</h3>
      <% @users.each do |user| %>
            <ul>
                  <li><%= link_to user.name, user %></li>
                  <li><% user.tweets.each do |tweet| %></li>
                  <li><%= tweet.content %></li>
                  <li><%= time_ago_in_words tweet.created_at %></li>  
                  <% end %>
            </ul>
      <%end%>
</div>


