/* ================ */
/*  CSS GUIDELINES  */
/* ================ */

/* SECTIONS */
	/* 1. Global */
	/* 2. Home Page - Logged Out */
	/* 3. Explore - All User */
	/* 4. Profile Page */
	/* 5. Following - Tweet Page */
	/* 6. Edit Profile Page */


/* GLOBAL */
@import url(http://fonts.googleapis.com/css?family=Raleway);


body{
	background-color: #C2AC73;
	font-family: 'Raleway', sans-serif;

}
.container {
	margin: 20px auto;
	padding: 0 80px
}

ul li {
	list-style: none;
	display: inline;
}

div {
	display: block;
}

.columns {
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
}


.small-3 {
	border: 1px solid #e1e8ed;
	background: #FFF;
	border-radius: 6px;	
}


.small-9{
  	min-height: 200px; 
}


/* HOME PAGE - LOGGED OUT */

.sign-up-background {
	background: url(http://i1231.photobucket.com/albums/ee503/Abs8282/whisper_music.jpg);
	padding: 40px 40px;
	background-repeat: no-repeat;
}

.sign-up-box {
	box-shadow: 0 0 5px black;
	background: white;
}

.small-11{
	text-align: center;
}

/* 3. Explore - All User */
.tweets-title, .tweets-listed {
	border-bottom: 1px solid #e1e8ed;
	cursor: pointer;
}

ul .tweets-listed {
	border-bottom: 1px solid #e1e8ed;
	cursor: pointer;	
}

.small-9{
	width: 50em;
	border-radius: 6px;
}




/* 4. Profile Page */
.following-main-container .row {
	max-width: 100%;
}

.following-main-container .tweet-side {
	margin-top: 0;
}

.profile-image {
	border-radius: 6px;
	padding: 1px;
	vertical-align: bottom;
}

hr {
	margin: 0.3em 0;
}

div.user-panel {	
	text-align: center;
}

div.user-panel img {
	height: 150px;
	width: auto;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.follow{
	margin-left: 35px;
}

.field { 
	display: block;
	padding: 0.2em;
	font-size: 16px;
}

div.actions input.button {
	padding: 6px 8px 6px 8px;
	margin-left: 0.2em;
	border-radius: 5.1px;
}


/* 5. Following - Tweet Page */
.tweet-side {
  	margin: 10px auto;
	border-top: 1px solid black;  
}

.tweet-side a {
	display: block;
}

.columns {
	background: white;
	border: 1px solid gray;
}

.columns .columns {
	border: none;
}

.no-bottom-margin {
	margin-bottom: 0.05rem;
}

.bottom-margin {
	margin-top: 0.5rem;
	margin-bottom: 0.45rem;
	font-style: italic;
	font-size: 0.7rem;
	text-align: right;
}

.tweetAvatar {
	width: 50px;
	height:50px;
	border-radius: 30px;
	display: inline-block;
}

div.actions input.button {
	padding: 6px 8px 6px 8px;
	margin-left: 0.2em;
	border-radius: 5.1px;
}


/* 6. Edit Profile Page */
.edit_font{
	font-size: 20px;
	font-style: italic;
	margin-top: -18px;
	margin-bottom: 24px;
}

div.button.success{
	margin: 0 auto;
	display: inherit;
	background-color: #D40D12;
	border-radius: 5.1px;
}
div.button.success a{
	color: white;
}

