/* ================ */
/*  CSS GUIDELINES  */
/* ================ */

/* SECTIONS */
	/* 1. Global */
	/* 2. Home Page - Logged Out */
	/* 3. Explore - All User */
	/* 4. Profile Page */



/* GLOBAL STUFF */

html {
	background-color: linen;
}

.container {
	margin-top: 40px;
}

ul li {
	list-style: none;
	display: inline;
}


/* HOME PAGE - LOGGED OUT */

.sign-up-background {
	background: hotpink;
	padding: 40px 40px;
}

.sign-up-box {
	box-shadow: 0 0 5px black;
	background: white;
}



/* 3. Explore - All User */
.tweets-title, .tweets-listed {
	border-bottom: 1px solid #e1e8ed;
	cursor: pointer;
}

ul .tweets-listed {
	border-bottom: 1px solid #e1e8ed;
	cursor: pointer;	
}

.small-9{
	width: 50em;
	border-radius: 6px;
}

div {
	display: block;
}



/* 4. Profile Page */
.tweet-side {
	
  
}
.profile-side{
	
}

.small-3 {
	border: 1px solid #e1e8ed;
	background: #FFF;
	border-radius: 6px;
	width: 20%;
  	min-height: 200px;
  	background: gainsboro;	
}
div.small-3 div {
  	height: 50px;
  	width: 80%;
  	margin: 10px auto;
	border-top: 1px solid black;
}

.small-9{
	width: 80%;
  	background: hotpink;
  	min-height: 200px;
  
}

.profile-image {
	background-color: #fff;
	border-radius: 6px;
	margin: -30px 0 0 8px;
	padding: 1px;
	vertical-align: bottom;

}

.profile-name{

}
.button{

}

.post-tweets{	
	border: 1px solid #e1e8ed;

}

.listed-tweets{
	border: 1px solid #e1e8ed;
	border-bottom: 1px solid #e1e8ed;
}

.field { 
	display: block;
	padding: 0.2em;
	font-size: 16px;

}
.small-11{
	text-align: center;

}

.tweetAvatar {
	width: 50px;
	height: 50px;
	display: inline-block;
}


/*
header nav ul {
	padding: 0;
	margin: 0;
}

header nav ul li {
	display: inline;
	padding: 0 0.2em;
}

header nav ul li a {
	text-decoration: none;
}

header nav ul li:hover {
	display: inline;
	background-color: white;
}


.field label, input[type=password] {
display: block;
padding: 0.2em;
}

.field label, input[type=text] {
display :block;
padding: 0.2em;

}

.avatar img {
  width: 300px;
}

.actions {
	display: block;
	margin-top: 17px;
	margin-left: 5px;
	margin-bottom: 17px;
}


.hic h1 {
		color: darkcyan;
}
